{minimum_otp_vsn, "18.0"}.

{erl_opts, [debug_info,
            {warn_format, 1},
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import]
}.

{plugins, [{rebar3_hex, {git,
                         "git://github.com/jkrukoff/rebar3_hex"}}]}.

{dialyzer, [{plt_prefix, "optic"},
            {warnings, [unmatched_returns,
                        error_handling,
                        race_conditions,
                        underspecs]}]
}.

{xref_warnings, true}.

{profiles, [{native, [{erl_opts, [{native, o3},
                                  {d, 'NATIVE'}]}]
            },
            {test, [{erl_opts, [{d, 'TEST'}]},
                    {deps, [proper]},
                    {plugins, [geas_rebar3,
                               rebar3_lint,
                               rebar3_proper]},
                    {dialyzer, [{plt_prefix, "optic_test"}]}]
            },
            {markdown, [{deps, [edown]},
                        {edoc_opts, [{preprocess, true},
                                     {doclet, edown_doclet},
                                     {top_level_readme, {"./README.md",
                                                         "http://github.com/jkrukoff/optic"}}]}]
            }]
}.
